h1{
  color: #07AAF5;
}
body{
  padding: 0 10px;
}
hr{
  background: #07AAF5;
  height:1px;
  width: 95%;
  margin:5px auto;
  border: none;
}

header{
  display: flex;
  justify-content: center;
  height: 150px;
  margin-bottom: 10px;
}
header h2{
  font-size: 40px;
  font-weight: bold;
}
header .nameBox *{
  margin: 4px 0;
}
header .nameBox{
  text-align: center;
}
span.line{
  color: #07AAF5;
  font-weight: bold;
  display: inline-block;
  margin:0 0.5em;
}
header img{
  height:150px;
  position: absolute;
  right: 67px;
}
section{
  padding: 0 20px;
}
h1{
  margin: 5px 20px;
}
a{
  color: rgb(8, 110, 226);
}
section.education li{
  margin-left: 18px;
}
section.education li:nth-of-type(1),
section.education li:nth-of-type(2){
  margin-left: 0;
  position: relative;
  margin:10px 0;
  list-style: none;
}
section.education span.time,
section.education span.address{
  position: absolute;
  top:0;
  right:22px;
}

section.skills li{
  margin: 7px 0;
  padding-right: 20px;
}
section.portfolio > ol > li{
  margin: 7px 0;
  padding-right: 20px;
}
